/* tools */
.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

html, body, .notepad-post-container, .notepad-post-header {
  height: 100%; }

.notepad-post-header-title {
  display: inline-block;
  padding: 0;
  padding-left: 1.25rem;
  height: 5rem;
  line-height: 5rem;
  vertical-align: middle;
  font-family: "Montserrat", sans-serif;
  font-size: 1.625rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  letter-spacing: -0.0625rem; }
  .notepad-post-header-title a {
    color: white; }
    .notepad-post-header-title a:hover {
      color: white; }

.post-template {
  /* Header */
  /* based on http://tympanus.net/Development/ArticleIntroEffects/index3.html */
  /* Trigger Button */
  /* Content */
  /* -------------------------- */
  /* Push */
  /* based on http://tympanus.net/Development/ArticleIntroEffects/index3.html
  /* -------------------------- */
  /* Delays */ }
  .post-template .notepad-blog-menu .notepad-mobile-menu a {
    color: white; }
    .post-template .notepad-blog-menu .notepad-mobile-menu a:hover {
      color: white; }
  @media only screen and (min-width: 40.063em) {
    .post-template .notepad-blog-menu ul li a {
      color: white; }
      .post-template .notepad-blog-menu ul li a:hover {
        border-bottom: 0.1875rem solid white; } }
  .post-template .notepad-post-header {
    position: relative;
    margin: 0 auto;
    min-height: 560px;
    width: 100%; }

    .post-template .notepad-post-header .notepad-post-menu-header {
      width: 100%;
      height: 5rem;
      background-color: #34426a;
      color: white;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9999;
      margin-bottom: 1px;
   }
      .post-template .notepad-post-header .notepad-post-menu-header .notepad-blog-logo {
        display: inline-block;
        max-height: 5rem; }
        .post-template .notepad-post-header .notepad-post-menu-header .notepad-blog-logo img {
          max-height: 5rem; }

  .post-template .notepad-post-header .notepad-post-graveyard {
    margin-top: 5rem;
    margin-bottom: 2rem;
    width:100%;
    min-height: 100%;
    height: auto !important; /*min-height hack*/
    height: 100%;
    overflow: hidden;
  }

  .post-template .notepad-post-header .notepad-post-graveyard-landscape {
    margin-top: 5rem;
    margin-bottom: 2rem;
    width:100%;
    min-height: 100%;
    height: auto !important; /*min-height hack*/
    height: 100%;
    overflow: hidden;
  }

        .post-template .notepad-post-header .notepad-post-graveyard-small {
          margin-top: 5rem;
          margin-bottom: 5rem;
          width:100%;
          height:auto;
        }

  .post-template .notepad-post-imageholder {
    margin-top: 7rem;
    float: left;
    width: 50%;
    text-align: center;
    /* background: red; */
    position: relative;
    display: inline-block;
    overflow: hidden;
  }

  .post-template .notepad-post-imageholder-landscape {
    margin-top: 3rem;
    float: left;
    width: 50%;
    text-align: center;
    /* background: red; */
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 70%;
  }

  .post-template .bg-img {
    vertical-align: middle;
    position: relative;
    width: 100%;
    height: auto;
  }

  .post-template .bg-img-landscape {
    vertical-align: middle;
    position: relative;
    width: 100%;
    height: auto;
  }

  @media only screen and (min-width:1000px) {
    .post-template .bg-img {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }
  }

  @media only screen and (min-width:1190px) {
    .post-template .bg-img {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

    .post-template .bg-img img {
      position: relative;
	    top: 0;
      /* padding-bottom: 2.5rem;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      padding-top: 2.5rem; */
      width: 85%;
      height: auto;
    }

    @media only screen and (max-height:500px) {
      .post-template .bg-img img {
        position: relative;
        top: 0;
        /* padding-bottom: 2.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 2.5rem; */
        width: 70%;
        height: auto;
      }
    }

    .post-template .bg-img-small {
      position: relative;
  	  top: 2.5rem;
  	  left: 0;
  	  right: 0;
      padding-bottom:4rem;
      margin-left: auto;
      margin-right: auto;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .post-template .bg-img-small img {
      position: relative;
	    top: 0;
      /* padding-bottom: 2.5rem;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      padding-top: 2.5rem; */
      min-width: 100%;
      height: auto;
    }

  .post-template .notepad-post-image-small {
    width: auto;
    height: auto;
    text-align: center;
    display: flex;
    position: absolute;
  }

  .post-template .notepad-post-title-placeholder {
    float: right;
    width: 50%;
    text-align: left;
    /* background: red; */
    position: relative;
    display: inline-block;
    overflow: hidden;
  }

  .post-template .notepad-post-title-placeholder-landscape {
    float: right;
    width: 50%;
    text-align: left;
    /* background: red; */
    position: relative;
    display: inline-block;
    overflow: hidden;
  }

  .post-template .notepad-post-title {    /* the margin padding seems to break things, poor code design */
    vertical-align: middle;
    z-index: 1000;
    margin-top: 50%;
    padding-right: 5rem;
    padding-left: 1rem;
    position: relative;
    width: 100%;
   }
    .post-template .notepad-post-title a {
     }
      .post-template .notepad-post-title a:hover {
        color: #0078a0; }
    .post-template .notepad-post-title h1 {
      color: black;
      font-weight: 800;
      font-size: 2.5rem;
      /* margin: 0 auto; */
      line-height: 1.1;
      text-transform: uppercase; }

      .post-template .notepad-post-title-landscape {    /* the margin padding seems to break things, poor code design */
        vertical-align: middle;
        z-index: 1000;
        padding-top: 5rem;
        padding-right: 5rem;
        padding-left: 1rem;
        position: relative;
        width: 100%;
       }

       .post-template .notepad-post-title-landscape h1 {
         color: black;
         font-weight: 800;
         font-size: 2em;
         /* margin: 0 auto; */
         line-height: 1.1;
         text-transform: uppercase; }

         .post-template .notepad-post-title-landscape p {
           font-size: .7em;
           }

      .post-template .notepad-post-title-small {
        top: 65%;
        width: 100%;
        margin-top: 0;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        position: absolute;
        background: white;
        opacity: .8;
        text-align: center;
      }

      /* OG author decisions, can't figure out the differences but they work ok for me*/
      @media only screen and (min-width: 40.063em) {
        .post-template .notepad-post-title h1 {
          font-size: 3.125rem; } }
      @media only screen and (min-width: 70em) {
        .post-template .notepad-post-title h1 {
          font-size: 4.375rem; } }
      @media only screen and (min-width: 90em) {
        .post-template .notepad-post-title h1 {
          font-size: 5.3125rem; } }

      @media only screen and (max-width: 400px) {
        .post-template .notepad-post-title-small {
          top: 60%;
        }
      }


  /* I'm lazy so rather than removing the class in "background-check.js" I just set the parameters for both settings to be equal. */
    .post-template .notepad-post-title.background--light h1 {
      color: black;
      background: white;
      }
    .post-template .notepad-post-title.background--dark h1 {
      color: black;
      background: white;
    }

    .post-template div.centering1 {
      position: absolute;
      text-align: center;
      bottom: 4rem;
      width: 100%;
    }

    .post-template div.centering11 {
      position: absolute;
      text-align: center;
      bottom: 13rem;
      width: 100%;
      }

    .post-template div.centering2 {
      position: relative;
      text-align: center;
      width: 100%;
    }

    .post-template div.centering3 {
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;

    }


/* if i wanted to add background color change background. if i want same image, bigger, and below, copy remove trigger, and change color. also add to post.html */
  .post-template button.trigger {
    top: 4.6rem;
    z-index: 5000;
    display: inline;
    padding: 0;
    width: 1em;
    height: 1em;
    border: none;
    background: white;
    color: transparent;
    font-size: 2em;
    cursor: pointer;
    text-align: center;
  }

    /* I'm lazy so rather than removing the class in "background-check.js" I just set the parameters for both settings to be equal. */
    .post-template button.trigger.background--light::before, .post-template button.trigger.background--light span::before {
      color: black;
      /* background-color: white; maybe one day? */
    }
    .post-template button.trigger.background--dark::before, .post-template button.trigger.background--dark span::before {
      color: black;
      /* background-color: black; */
    }


  .post-template .notepad-post-container:not(.notrans) button.trigger {
    -webkit-transition: opacity 0.3s 0.5s;
    transition: opacity 0.3s 0.5s; }
  .post-template .notepad-post-container.modify:not(.notrans) button.trigger {
    opacity: 0;
    pointer-events: none;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
  .post-template button.trigger::before {
    position: absolute;
    /* bottom: 100%; */
    padding: 0.8em;
    width: 500%;
    height: 200%;
    top:-50%;
    left: -4rem;
    color: black;
    content: attr(data-info);
    font-size: 1.125rem;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    text-align: center; }
  .post-template button.trigger:focus {
    outline: none;
    text-align: center;
  }
  .post-template button.trigger span {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-align: center; }
  .post-template button.trigger span::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    content: "\f078";
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'FontAwesome';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
  }

    @media only screen and (max-width: 2560px) and (min-height: 1000px) {
      .post-template button.trigger.background--light::before, .post-template button.trigger.background--light span::before {
        color: black;
        /* background-color: white; maybe one day? */
      }
      .post-template button.trigger.background--dark::before, .post-template button.trigger.background--dark span::before {
        color: black;
        /* background-color: black; */
      }
      .post-template button.trigger::before {
        color: black;
      }
      .post-template button.trigger span::before {
        color: black;
      }
    }

  .post-template .notepad-post-content {
    margin: 0 auto;
    padding: 0; }
    .post-template .notepad-post-content > div:not(.notepad-post-title) {
      margin: -25% auto 0;
      padding-left: 1.875rem;
      padding-right: 1.875rem; }
      @media only screen and (min-width: 40.063em) {
        .post-template .notepad-post-content > div:not(.notepad-post-title) {
          margin: -18% auto 0; } }
      @media only screen and (min-width: 70em) {
        .post-template .notepad-post-content > div:not(.notepad-post-title) {
          margin: -10% auto 0; } }
      .post-template .notepad-post-content > div:not(.notepad-post-title) a, .post-template .notepad-post-content > div:not(.notepad-post-title) code {
        color:#008CBA;
      }

      .post-template .notepad-post-content > div:not(.notepad-post-title) a:visited {
      color: #91475b;
    }

      .post-template .notepad-post-content > div:not(.notepad-post-title) a:hover {
        text-decoration: underline;
      }

      .post-template .notepad-post-content > div:not(.notepad-post-title) ul, .post-template .notepad-post-content > div:not(.notepad-post-title) ol {
        padding-left: 1.25rem;
        font-size: 1.125rem; }


      .post-template .notepad-post-content > div:not(.notepad-post-title) h1 {
        font-weight: bold;
        text-align: center;
      }
      .post-template .notepad-post-content > div:not(.notepad-post-title) h2,
      .post-template .notepad-post-content > div:not(.notepad-post-title) h3,
      .post-template .notepad-post-content > div:not(.notepad-post-title) h4,
      .post-template .notepad-post-content > div:not(.notepad-post-title) h5,
      .post-template .notepad-post-content > div:not(.notepad-post-title) h6 {font-weight: bold; }

      .post-template .notepad-post-content > div:not(.notepad-post-title) h1,
      .post-template .notepad-post-content > div:not(.notepad-post-title) h2,
      .post-template .notepad-post-content > div:not(.notepad-post-title) h3,
      .post-template .notepad-post-content > div:not(.notepad-post-title) h4,
      .post-template .notepad-post-content > div:not(.notepad-post-title) h5,
      .post-template .notepad-post-content > div:not(.notepad-post-title) h6,
      .post-template .notepad-post-content > div:not(.notepad-post-title) ul,
      .post-template .notepad-post-content > div:not(.notepad-post-title) ol,
      .post-template .notepad-post-content > div:not(.notepad-post-title) blockquote,
      .post-template .notepad-post-content > div:not(.notepad-post-title) pre,
      .post-template .notepad-post-content > div:not(.notepad-post-title) hr {
        max-width: 56.25rem;
        margin-left: auto;
        margin-right: auto; }
      .post-template .notepad-post-content > div:not(.notepad-post-title) p {
        margin: 0 auto 2em auto;
        max-width: 56.25rem;
        font-size: 1.125rem; }
        .post-template .notepad-post-content > div:not(.notepad-post-title) p.poopquote {
          text-indent: 5em;
          margin-top: -2.5rem;
          font-weight: bold}
        .post-template .notepad-post-content > div:not(.notepad-post-title) p:first-child {
          font-size: 1.375rem;
          font-weight: 300; }
          @media only screen and (min-width: 40.063em) {
            .post-template .notepad-post-content > div:not(.notepad-post-title) p:first-child {
              font-size: 1.625rem; } }
        .post-template .notepad-post-content > div:not(.notepad-post-title) p.with-image {
          text-align: center;
          padding-top: 1.125rem;
          padding-bottom: 1.125rem;
          max-width: 75rem; }
  .post-template .notepad-post-content.tag-simple > div:not(.notepad-post-title) {
    margin: 0 auto 0; }
  @media screen and (max-width: 47em) {
    .post-template .notepad-post-title, .post-template .notepad-post-content {
      font-size: 70%; } }
  @media screen and (max-width: 27em) {
    .post-template .notepad-post-title, .post-template .notepad-post-content {
      font-size: 50%; }
    .post-template button.trigger::before {
      display: none;
      text-align: center; } }

      .post-template .intro-effect-push:not(.notrans) .notepad-post-header,
      .post-template .intro-effect-push:not(.notrans) > .notepad-post-title,
      .post-template .intro-effect-push:not(.notrans) .notepad-post-content > div {
      	-webkit-transition-property: opacity, transform;
      	transition-property: opacity, -webkit-transform;
      	-webkit-transition-duration: 1s;
      	transition-duration: 1s;
        margin-top: 0;
      }

      .post-template .intro-effect-push:not(.notrans) .notepad-post-header {
      	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
      	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
      	-webkit-transition-duration: 1.2s;
      	transition-duration: 1.2s;
      }

      .post-template .intro-effect-push .notepad-post-header {
      	position: absolute;
      	z-index: 1500;
      }

      .post-template .intro-effect-push > .notepad-post-title /*plz explain */ {
      	position: relative;
      	top: auto;
      	left: auto;
      	padding: 6em 1em 2em;
      }


      .post-template .intro-effect-push.modify .notepad-post-content > div {
      	margin-top: 50px;
      	color: #3f3f3f;
      }

      .post-template .intro-effect-push > .notepad-post-title,
      .post-template .intro-effect-push .notepad-post-content > div {
      	-webkit-transform: translateY(400px);
      	transform: translateY(400px);
      	opacity: 0;
      }

      .post-template .intro-effect-push.modify > .notepad-post-title,
      .post-template .intro-effect-push.modify .notepad-post-content > div {
      	-webkit-transform: translateY(0);
      	transform: translateY(0);
      	opacity: 1;
      }

      .post-template .intro-effect-push.modify .notepad-post-header {
      	opacity: 0;
      	-webkit-transform: translateY(-100%) scale(0.9);
      	transform: translateY(-100%) scale(0.9);
      }

      /* Delays */
      .post-template .intro-effect-push.modify:not(.notrans) > .notepad-post-title {
      	-webkit-transition-delay: 0.5s;
      	transition-delay: 0.5s;
      }

      .post-template .intro-effect-push.modify:not(.notrans) .notepad-post-content > div {
      	-webkit-transition-delay: 0.6s;
      	transition-delay: 0.6s;
      }

.notepad-post-share {
  font-size: 1.875rem;
  padding: 0;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  border-top: 0.0625rem solid #f2f2f2;
  color: #6a3442; }
  .notepad-post-share a {
    display: inline-block;
    margin: 0 0.9375rem;
    color: #6a3442; }
  @media only screen and (min-width: 40.063em) {
    .notepad-post-share {
      padding-top: 5rem;
      padding-bottom: 5rem; } }

.notepad-author-info {
  padding: 0;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  background: #f2f2f2; }
  @media only screen and (min-width: 40.063em) {
    .notepad-author-info {
      padding-top: 5rem;
      padding-bottom: 5rem; } }
  @media only screen and (min-width: 70em) {
    .notepad-author-info {
      padding-top: 6.875rem;
      padding-bottom: 6.875rem; } }
  @media only screen and (min-width: 90em) {
    .notepad-author-info {
      padding-top: 7.5rem;
      padding-bottom: 7.5rem; } }
  .notepad-author-info .notepad-post-author {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    text-align: center; }
    .notepad-author-info .notepad-post-author .author-label {
      display: block;
      font-size: 1rem;
      color: gray;
      font-style: italic; }
    .notepad-author-info .notepad-post-author .author-website {
      font-size: 1rem; }
    .notepad-author-info .notepad-post-author h1 {
      margin: 0;
      padding: 0;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      text-transform: uppercase; }
    .notepad-author-info .notepad-post-author > p {
      font-size: 1.125rem; }
      .notepad-author-info .notepad-post-author > p a {
        color: #6a3442; }
    .notepad-author-info .notepad-post-author .notepad-post-author-avatar {
      width: 12.5rem;
      height: 12.5rem;
      border-radius: 50%;
      float: none;
      margin-right: 0;
      margin-bottom: 1.25rem; }
      @media only screen and (min-width: 40.063em) {
        .notepad-author-info .notepad-post-author .notepad-post-author-avatar {
          margin-right: 4rem;
          margin-bottom: 0;
          float: left; } }
    @media only screen and (min-width: 40.063em) {
      .notepad-author-info .notepad-post-author {
        text-align: left; } }

.notepad-page-menu-header,
.notepad-post-menu-header-simple {
  width: 100%;
  height: 5rem;
  background-color: #34426a;
  color: white;
  position: relative;
  z-index: 9999; }
  .notepad-page-menu-header .notepad-blog-logo,
  .notepad-post-menu-header-simple .notepad-blog-logo {
    display: inline-block;
    max-height: 5rem; }
    .notepad-page-menu-header .notepad-blog-logo img,
    .notepad-post-menu-header-simple .notepad-blog-logo img {
      max-height: 5rem; }

.notepad-page-title,
.notepad-post-title-simple {
  margin: 0 auto;
  width: 100%; }
  .notepad-page-title a,
  .notepad-post-title-simple a {
    color: black; }
    .notepad-page-title a:hover,
    .notepad-post-title-simple a:hover {
      color: white; }
  .notepad-page-title h1,
  .notepad-post-title-simple h1 {
    color: black;
    font-weight: 800;
    font-size: 3.125rem;
    padding: 0;
    padding-top: 5rem;
    padding-bottom: 4.375rem;
    margin: 0 auto;
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase; }
    @media only screen and (min-width: 40.063em) {
      .notepad-page-title h1,
      .notepad-post-title-simple h1 {
        font-size: 4.375rem;
        padding-top: 5.625rem;
        padding-bottom: 5.625rem; } }
    @media only screen and (min-width: 70em) {
      .notepad-page-title h1,
      .notepad-post-title-simple h1 {
        padding-top: 6.875rem;
        padding-bottom: 6.875rem; } }
    @media only screen and (min-width: 90em) {
      .notepad-page-title h1,
      .notepad-post-title-simple h1 {
        font-size: 5.3125rem;
        line-height: 120%;
        padding-top: 8.125rem;
        padding-bottom: 8.125rem; } }
  .notepad-page-title .notepad-post-meta-simple,
  .notepad-post-title-simple .notepad-post-meta-simple {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 2.5rem; }
    .notepad-page-title .notepad-post-meta-simple h1,
    .notepad-post-title-simple .notepad-post-meta-simple h1 {
      padding: 0; }
    .notepad-page-title .notepad-post-meta-simple p.meta,
    .notepad-post-title-simple .notepad-post-meta-simple p.meta {
      padding-top: 0.625rem; }
    @media only screen and (min-width: 40.063em) {
      .notepad-page-title .notepad-post-meta-simple,
      .notepad-post-title-simple .notepad-post-meta-simple {
        padding-top: 6.25rem;
        padding-bottom: 3.75rem; } }
    @media only screen and (min-width: 70em) {
      .notepad-page-title .notepad-post-meta-simple,
      .notepad-post-title-simple .notepad-post-meta-simple {
        padding-top: 8.75rem;
        padding-bottom: 5.625rem; } }
    @media only screen and (min-width: 90em) {
      .notepad-page-title .notepad-post-meta-simple,
      .notepad-post-title-simple .notepad-post-meta-simple {
        padding-top: 10rem;
        padding-bottom: 6.25rem; } }

/* Page conent */
.notepad-page-content {
  margin: 0 auto;
  padding: 0 0 5rem;
  display: inline;
}
  .notepad-page-content > div:not(.notepad-page-title) {
    margin: 0 auto;
    padding-left: 1.875rem;
    padding-right: 1.875rem; }
    .notepad-page-content > div:not(.notepad-page-title) a,
    .notepad-page-content > div:not(.notepad-page-title) code {
      color: #9d4d62; }
    .notepad-page-content > div:not(.notepad-page-title) ul,
    .notepad-page-content > div:not(.notepad-page-title) ol {
      padding-left: 1.25rem;
      font-size: 1.125rem; }
    .notepad-page-content > div:not(.notepad-page-title) h1,
    .notepad-page-content > div:not(.notepad-page-title) h2,
    .notepad-page-content > div:not(.notepad-page-title) h3,
    .notepad-page-content > div:not(.notepad-page-title) h4,
    .notepad-page-content > div:not(.notepad-page-title) h5,
    .notepad-page-content > div:not(.notepad-page-title) h6 {
      font-weight: bold; }
    .notepad-page-content > div:not(.notepad-page-title) h1,
    .notepad-page-content > div:not(.notepad-page-title) h2,
    .notepad-page-content > div:not(.notepad-page-title) h3,
    .notepad-page-content > div:not(.notepad-page-title) h4,
    .notepad-page-content > div:not(.notepad-page-title) h5,
    .notepad-page-content > div:not(.notepad-page-title) h6,
    .notepad-page-content > div:not(.notepad-page-title) ul,
    .notepad-page-content > div:not(.notepad-page-title) ol,
    .notepad-page-content > div:not(.notepad-page-title) blockquote,
    .notepad-page-content > div:not(.notepad-page-title) pre,
    .notepad-page-content > div:not(.notepad-page-title) hr {
      max-width: 56.25rem;
      margin-left: auto;
      margin-right: auto; }
    .notepad-page-content > div:not(.notepad-page-title) p {
      margin: 0 auto 2em auto;
      max-width: 56.25rem;
      font-size: 1.125rem; }
      .notepad-page-content > div:not(.notepad-page-title) p:first-child {
        font-size: 1.375rem;
        font-weight: 300; }
        @media only screen and (min-width: 40.063em) {
          .notepad-page-content > div:not(.notepad-page-title) p:first-child {
            font-size: 1.625rem; } }
      .notepad-page-content > div:not(.notepad-page-title) p.with-image {
        text-align: center;
        padding-top: 1.125rem;
        padding-bottom: 1.125rem;
        max-width: 75rem; }

@media screen and (max-width: 47em) {
  .notepad-page-title, .notepad-page-content {
    font-size: 70%; } }
@media screen and (max-width: 27em) {
  .notepad-page-title, .notepad-page-content {
    font-size: 50%; } }
.post-template .notepad-post-title-simple.row,
.post-template .notepad-disqus.row,
.post-template .social-icons.row,
.page-template .notepad-post-title-simple.row,
.page-template .notepad-disqus.row,
.page-template .social-icons.row {
  margin-left: auto;
  margin-right: auto; }
.post-template .notepad-author-info .row,
.page-template .notepad-author-info .row {
  margin-left: auto;
  margin-right: auto; }
.post-template .row,
.page-template .row {
  max-width: 58.125rem;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem; }
  .post-template .row p, .page-template .row p { /*this is where the .row sizes are determined */
    margin: 0 auto 2em auto !important;
    max-width: 56.25rem !important;
    font-size: 1.125rem !important; }
  @media only screen and (min-width: 58.125em) {
    .post-template .row,
    .page-template .row {
      margin-left: auto;
      margin-right: auto; } }

div.about {
  float: left;
  padding-right: 0;
  padding-bottom: 0;
  width: 50%;
  text-align: center;
  margin: 0;
}

p.about {
  height: 2em;
  font-style: italic;
}

img.about {
  height: auto;
  width: auto;
  max-width: 75%;
  margin: 0;
}

/* @media only screen and (min-width: 450px) {
  img.about{
    height: auto;
    width: auto;
    max-width: 425px;}
} */

::selection {
  background: #6a3442;
  color: #fff; }

::-moz-selection {
  background: #6a3442;
  color: #fff; }

pre {
  word-wrap: break-word;
  margin-bottom: 1.5625rem; }

code {
  font-size: 0.9375rem;
  line-height: 1.2; }

iframe {
  border: 0; }

.flex-video {
  margin-left: auto;
  margin-right: auto;
  max-width: 75rem; }

.notepad-disqus {
  padding: 0;
  padding-top: 3.75rem;
  padding-bottom: 5.625rem;
  padding-left: 1.875rem;
  padding-right: 1.875rem; }
  .notepad-disqus .notepad-comments-header {
    font-weight: 700;
    text-transform: uppercase; }
  @media only screen and (min-width: 40.063em) {
    .notepad-disqus {
      padding-top: 5.3125rem;
      padding-bottom: 9.375rem; } }
.post-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.post-list li {
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
    border-bottom: 1px solid rgba(0,0,0,.1);
    *zoom: 1;
}

.post-list li:after,.post-list li:before {
    display: table;
    line-height: 0;
    content: "";
}

.post-list li:after {
    clear: both;
}

.post-list a>span {
    float: right;
}

.post-list .entry-date {
    display: none;
    font-size: 14px;
    text-transform: uppercase;
    float: right;
}

@media only screen and (min-width:48em) {
    .post-list .entry-date {
        display: inline;
    }
}
.tag-box {
    padding: 4px 0;
    margin: 0;
    overflow: hidden;
    list-style: none;
    *zoom: 1;
}

.tag-box:after,.tag-box:before {
    display: table;
    line-height: 0;
    content: "";
}

.tag-box:after {
    clear: both;
}

.tag-box.inline li {
    float: left;
    font-size: 14px;
    line-height: 2.5;
}

.tag-box a {
    padding: 4px 6px;
    margin: 2px;
    text-decoration: none;
    border: 0.0625rem solid black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.tag-box a span {font-size:10px;vertical-align:super;color:black;}


@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}
