<!DOCTYPE html>
<html>

<head>
{% include head.html %}
{% if site.dropcap %} <!--- To enlarge the first letter of content http://webplatform.adobe.com/dropcap.js/ --->
  <style type="text/css">
    @media only screen and (min-width:43.75em){
      .notepad-post-content div>p:first-child:first-letter{
        float:left;
        font-size:4.688rem;
        line-height:4.375rem;
        padding-top:.25rem;
        padding-right:.5rem;
        padding-left:.188rem;
        font-family:serif
      }
    }
  </style>
{% endif %}
</head>

<body class="post-template" itemscope itemtype="http://schema.org/WebPage">
        <main id="notepad-post-container" class="notepad-post-container intro-effect-push" role="main">
          <header class="notepad-post-header">
            <div class="notepad-post-menu-header">
                  <a class="notepad-blog-logo" href="{{ site.url }}"> <!--- a tag defines links, and if you want to change color you have to change "a"--->
                    <img src="{{ site.url }}/images/{{ site.logo }}" alt="Blog Logo" />
                  </a>
              <div class="notepad-blog-menu">
                  <div class="notepad-mobile-menu show-for-small"> <!--- http://foundation.zurb.com/sites/docs/v/5.5.3/components/visibility.html --->
                      <a href="#"><i class="fa fa-bars"></i></a>
                  </div>
                <ul class="notepad-menu">
                    <li class="notepad-mobile-close-btn show-for-small text-right">
                        <a href="#"><i class="fa fa-times"></i></a>
                    </li>
                    {% for link in site.links %}
                        <li>{% if link.external %}
                                <a href="{{ link.url }}">{{ link.title }}</a>
                            {% else %}
                                <a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="notepad-post-graveyard">
              <div class="notepad-post-image"> <!--- this is where image goes --->
                <div class="bg-img">
                    <img src="{{ site.url }}/images/{{ page.imagefeature }}" alt="cover-image" />
                </div>
              </div>
            </div>
          </header>

        </main>
{% include scripts.html %}

</body>
</html>
